﻿@model NetCoreApp.Models.User

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Registra" asp-controller="Register" method="post">
    Username <input  class="name" asp-for="Uname" /><br />  
    ID <input asp-for="ID" /><br />
    Password <input asp-for="PWord" /><br />
    <input type="submit"  value="Create" />
</form>

