﻿@page
@model NetCoreApp.Views.Register.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Uname" class="control-label"></label>
                <input asp-for="User.Uname" class="form-control" />
                <span asp-validation-for="User.Uname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PWord" class="control-label"></label>
                <input asp-for="User.PWord" class="form-control" />
                <span asp-validation-for="User.PWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
